{{ template "layout.html" .}}

{{ define "title" }}
Article - Wiki
{{ end }}

{{ define "content" }}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            <span>Articles</span>
            {{ if .UserID}}
            {{ if gt .UserID "0" }}
            <a class="blog-create-btn" href='/articles/create/'>+</a></li>
            {{ end }}
            {{ end }}
        </ol>
      </nav>
    </div>

    <div class="col-md-9">
      <h3 class="pb-3 mb-4 font-italic border-bottom">
        From the Wiki - Articles
      </h3>
      
      {{ $userID := .UserID|ToInt64 }}

      {{range .Data}}
      <div class="blog-post">
        <h2 class="blog-post-title">
          <span>{{ .title }}</span>
          {{ if $userID }}

          {{ if eq $userID .author_id }}
          <a class="btn btn-primary btn-sm" href="/articles/update/?id={{ .autokid }}">update</a>
          <a class="btn btn-primary btn-sm" href="/articles/delete/?id={{ .autokid }}">delete</a>
          {{ end }}
          {{ end }}
          <a class="btn btn-primary btn-sm" href="/articles/view/?id={{ .autokid }}">view</a>
        </h2>
        <p class="blog-post-meta">
          {{ .created_at }} by 
          <a href="#">Mark</a>
        </p>
      </div>
      {{end}}

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
      </nav>
    </div>
    <div class="col-md-3">
      RightSidebar
    </div>
  </div>
</div>
{{ end }}