{{ define "title" }}
Article - Wiki
{{ end }}

{{ define "before_link" }}
{{ end }}

{{ define "after_link" }}
{{ end }}

{{ define "content" }}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            <span>Articles</span>
            <a class="blog-create-btn" href='/articles/create/'>+</a></li>
        </ol>
      </nav>
    </div>

    <div class="col-md-9">
      <h3 class="pb-3 mb-4 font-italic border-bottom">
        From the Firehose - Cookie - {{ .Cookie }}
      </h3>

      {{range .Data}}
      <div class="blog-post">
        <h2 class="blog-post-title">
          {{ .autokid }} - {{ .title }} blog post
          <a class="btn btn-primary btn-sm" href="/articles/update/?id={{ .autokid }}">update</a>
          <a class="btn btn-primary btn-sm" href="/articles/delete/?id={{ .autokid }}">delete</a>
          <a class="btn btn-primary btn-sm" href="/articles/view/?id={{ .autokid }}">view</a>
        </h2>
        <p class="blog-post-meta">
          January 1, 2014 by 
          <a href="#">Mark</a>
        </p>
      </div>
      {{end}}

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
      </nav>
    </div>
    <div class="col-md-3">
      RightSidebar
    </div>
  </div>
</div>
{{ end }}

{{ define "before_script" }}
{{ end }}

{{ define "after_script" }}

{{ end }}

{{ template "layout.html" .}}