{{ define "title" }}
{{ .Title }} - Article - Wiki
{{ end }}

{{ define "before_link" }}
{{ end }}

{{ define "after_link" }}
<link rel="stylesheet" href="/static/bower_components/editor.md/css/editormd.min.css" />
<link rel="stylesheet" href="/static/css/main.css" />
{{ end }}

{{ define "content" }}
<div class="container blog-post-content">
  <div class="col-md-12">
    <div class="text-center">
      <h1>{{.Title}}</h1>
      <p class="blog-post-meta">
        <span>December 23, 2013 by <a href="">Jacob</a></span>
      </p>
    </div>
    
    <p>
      <span>[<a href="/articles/update/?id={{ .Autokid }}">更新</a>]</span>
      <span>[<a href="/articles/delete/?id={{ .Autokid }}">删除</a>]</span>
    </p>

    <div id="content-view">
      <textarea style="display:none;">{{ .Content }}</textarea>
    </div>

    <div>
      <span>分类：<a href='' title=''>{{ .CategoryID }}</a></span>
      <span>标签：{{range .Tags}}<a href='' title='' style="margin: 0 5px">{{.}}</a>{{end}}</span>
    </div>
  </div>
</div>
{{ end }}

{{ define "before_script" }}
{{ end }}

{{ define "after_script" }}
<script src="/static/bower_components/editor.md/lib/marked.min.js"></script>
<script src="/static/bower_components/editor.md/lib/prettify.min.js"></script>  
<script src="/static/bower_components/editor.md/lib/raphael.min.js"></script>
<script src="/static/bower_components/editor.md/lib/underscore.min.js"></script>
<script src="/static/bower_components/editor.md/lib/sequence-diagram.min.js"></script>
<script src="/static/bower_components/editor.md/lib/flowchart.min.js"></script>
<script src="/static/bower_components/editor.md/lib/jquery.flowchart.min.js"></script>
<script src="/static/bower_components/editor.md/editormd.min.js"></script>
<script type="text/javascript">
var contentEditor;
$(() => {
  contentEditor = editormd.markdownToHTML('content-view', {
    htmlDecode: 'style,script,iframe', // you can filter tags decode
    emoji: true,
    taskList: true,
    tex: true, // 默认不解析
    flowChart: true, // 默认不解析
    sequenceDiagram: true, // 默认不解析
    path: '/static/bower_components/editor.md/lib/',
  });
});
</script>
{{ end }}

{{ template "layout.html" .}}